body{
  background-color:aquamarine;

}

div{
  padding:10px;
}

@media screen and (max-width: 799px) {

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 300px;
  }
}

@media screen and (min-width: 800px) {
.flex-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 700px;
  min-width: 400px;
}
}
